<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="css/404.css">
  <title>404 - Play Traditional Game</title>
</head>

<body>
  <main id="main" class="bg">
    <div id="content" class="container d-flex flex-column align-items-center">
      <div class="row">
        <div class="col text-center">
          <p class="display-1 text-orange">404</p>
          <p class="h1 text-orange text-uppercase">page not found</p>
        </div>
      </div>
    </div>
  </main>

  <%- include('partials/script') %>
</body>

</html>